@font-face {
    font-family: 'PP Neue Montreal';
    font-weight: normal;
    font-style: normal;
    src: url('/static/fonts/PPNeueMontreal-Regular.woff2');
}

@font-face {
    font-family: 'PP Neue Montreal';
    font-weight: 500;
    font-style: normal;
    src: url('/static/fonts/PPNeueMontreal-Medium.woff2');
}

@font-face {
    font-family: 'PP Neue Montreal';
    font-weight: normal;
    font-style: italic;
    src: url('/static/fonts/PPNeueMontreal-Italic.woff2');
}

@font-face {
    font-family: 'PP Neue Montreal';
    font-weight: bold;
    font-style: normal;
    src: url('/static/fonts/PPNeueMontreal-Bold.woff2');
}

@font-face {
    font-family: 'PP Neue Montreal';
    font-weight: bold;
    font-style: italic;
    src: url('/static/fonts/PPNeueMontreal-BoldItalic.woff2');
}

::selection {
    background: var(--color-primary);
    color: var(--color-neutral-900);
}

::moz-selection {
    background: var(--color-primary);
    color: var(--color-neutral-900);
}

html * {
    font-family: var(--font-stack);
}

body{
    background: var(--color-neutral-900);
    color: var(--color-neutral-100);
    font-size: var(--font-size);
    font-weight: var(--font-weight);

    transition: color 0.5s, background-color 0.5s;
    overflow-x: hidden;
}

hr {
    margin: 0;
    // opacity: var(--lightened-opacity);
    opacity: .25;
    color: var(--color-neutral-100);
    display: block;
    border: none;
    height: 1px;
    background: currentColor;
}

.container {
    padding-inline: 8%;
}

.content__default {
    img, picture {
        width: 100%;
    }

    a {
        text-decoration: underline;
        text-decoration-skip-ink: all;
        text-decoration-thickness: .08em;
        text-underline-offset: .18em;
        text-decoration-color: var(--color-primary);
    }
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    white-space: normal;
    // min-width: 0;
}

.grid > *:not([class*=span]) {
    grid-column-start: span 12;
}

a {
    color: inherit;
    text-decoration: none;
    display: inline;
    // white-space: pre;
}

a:not(.no-arrow) {
    --arrow-spacing: .25em;

    padding-right: calc(1ch + var(--arrow-spacing));
    display: inline-block;
}

a:not(.no-arrow)::after {
    display: inline-block;
    content: '↗';
    padding-left: var(--arrow-spacing);
    width: 1ch;
    margin-right: -1ch;
    transition: transform .5s var(--default-timing);
}

a:hover::after, a:hover a::after {
    transform: translateX(.25em);
}

.icon.outbound {
    display: none;
}

ul {
    margin: 0;
    padding: 0;

    li {
        margin-bottom: 1em;
    }
}