:root {
    --color-primary: #d9ff00;

    // --color-neutral-900: #06060f;
    --color-neutral-900: #0c101d;
    --color-neutral-900-t: rgba(#0c101d, 0.8);

    --color-neutral-100: #f1f1f1;

    --lightened-opacity: .6;
    --spacing-unit: clamp(1rem, 2.5%, 1.5rem);

    --mobile-breakpoint: 700px;
}