.project {
  display: block;
}

.project-preview, .project-placeholder {
  // visibility: visible;
  transition: transform .4s var(--default-timing);
}

.project-thumbnail {
  width: 100%;
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
}

@media (hover: hover), (-ms-high-contrast:none) {

  .project-preview {
    visibility: hidden;
  }

  .project-row.active {

    .project-preview {
      visibility: visible;
      outline: 1px solid var(--color-primary);
    }

    .project-preview, .project-placeholder {
      transform: scale(1.025)
      // transform: translateX(calc(var(--spacing-unit) * 2));p
    }
  }
}